.react-datepicker__input-container input {
  border: none !important;
  padding: 0 !important;
}
.dx-datagrid-headers {
  color: #374767 !important;
  font-weight: 700 !important;
  font-size: 15px !important;
}
